{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>EvolveU Invoices Application</h1>
</div>

<div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <a href='invoices'>
            <div class="card-header">Invoices</div>
        </a>
        <div class="card-body text-primary">
        <h5 class="card-title">Invoice List</h5>
        <p class="card-text">View list of all invoices. Add, delete, and edit invoices.</p>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
            <a href='customers'>
                <div class="card-header">Customers</div>
            </a>
            <div class="card-body text-primary">
            <h5 class="card-title">Customer List</h5>
            <p class="card-text">View list of all customers. Add, delete, and edit customers.</p>
            </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
            <a href='products'>
                <div class="card-header">Products</div>
            </a>
            <div class="card-body text-primary">
            <h5 class="card-title">Product List</h5>
            <p class="card-text">View list of all products. Add, delete, and edit customers.</p>
            </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
            <a href='register'>
                <div class="card-header">Register</div>
            </a>
            <div class="card-body text-primary">
            <h5 class="card-title">Registration Page</h5>
            <p class="card-text">Sign up!</p>
            </div>
    </div>
</div>

{% endblock %}